.question{
    padding: 20px;
}

ion-card ion-card:hover{
    cursor: pointer;
    filter: brightness(150%);
}

ion-card ion-card{
    border: solid 1px darkslategrey;
}

@media only screen and (max-width: 600px) {
    ion-card ion-card:hover{
        cursor: default;
        filter: brightness(100%);
    }
} 