.QuestionBtn {
  border-radius: 15px;
  padding: 18px 36px;
  margin: 20px;
  transition: 0.4s all ease;
}

.QuestionBtn:hover {
  background-color: darkgray;
  color: white;
}

.QuestionCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
