#OD-Webcam {
  position: absolute;
  display: flex;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  height: 500px;
}

#OD-Canvas {
  position: relative;
  display: flex;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}

#OD-Snapshot {
  position: absolute;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;
  height: 500px;
}

#cameraOutline {
  height: 100px;
}

.snap-a-pic {
  position: relative;
  display: flex;
  z-index: 50;
  margin: 0 auto;
  width: 250px;
  height: 50px;
}
