#OD-Webcam {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) !important;
  z-index: 1;
}

#OD-Canvas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) !important;
  z-index: 2;
}

#scanOutline {
  margin-left: 10px;
  height: 100px;
}

.snap-a-pic {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 250px;
  height: 50px;
}
