.s2Div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.text {
  width: 70vw;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
}

#arrow {
  position: absolute;
  bottom: 10%;
  right: 10vw;
  color: #69d686;
  margin-top: 50px;
  justify-self: right;
  height: 75px;
  width: 75px;
}
