.s3Div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.s3Title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 2.5em; 
  color: #53b86e;
}

.s3Desc {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.objImg {
  max-height: 400px;
  max-width: 350px;
  margin: 25px auto;
  padding: 5px;
  object-fit: contain;
  border: 1px solid #006805;
  border-radius: 10px;
}

.btn-group {
  position: absolute;
  bottom: 10%;
  right: 50%;
  transform: translateX(50%);

  width: 80vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.s3Arrow {
  height: 75px;
  width: 75px;
  color: #69d686;
}
